.actionsContainer {
	margin-left: auto;
	display: flex;
	height: fit-content;
	gap: 1rem;
}

.actionsContainer button {
	width: 5rem;
	padding: 0.3rem 1rem 0.3rem 1rem;
	cursor: pointer;
	border-radius: 5px;
	font-weight: 600;
	border: none;
	transition: all 0.2s ease;
	color: #000;
}

.actionsContainer .editButton {
	background-color: #0d6efd;
}

.actionsContainer .deleteButton {
	background-color: #ff7878;
}

.actionsContainer .editButton:hover {
	opacity: 0.8;
}

.actionsContainer .deleteButton:hover {
	opacity: 0.8;
}
