@import './actions_container.css';

.deleteMessageContainer {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
}

.deleteButton {
	cursor: pointer;
	border-radius: 5px;
	padding: 0.5rem 1rem 0.5rem 1rem;
	background-color: #ff7878;
	border: none;
	color: #000;
	width: 10rem;
	font-weight: 600;
	transition: all 0.2s ease;
}

.deleteButton:hover {
	opacity: 0.8;
}

/* category items styles */

.mainContentContainer {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	width: 100%;
	gap: 0.8rem;
	min-height: calc(100vh - 4.2rem);
	/* min-height: 100vh; */
}

.categoryDetailContainer {
	background-color: #fff;
	border-radius: 5px;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 6px 0.5px rgb(106, 105, 105);
	gap: 1rem;
	height: 100%;
	font-size: 1.2rem;
}

.categoryDetailContainer > .detailsContainer {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.detailSection {
	display: flex;
}

/* 
overwrite the css styling from item_list.css(linked in the category_views/layout.pug) 
*/

.itemListContainer {
	box-shadow: none;
	border: 1px solid #dee3d4;
}
