* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
	background-color: #dee3d4;
}

a {
	text-decoration: none;
}

img {
	object-fit: contain;
	object-position: center;
}
